<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009649273389-v3d3tgjsnr9mrmvr071rb9dkol07ju1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009649273389-v3d3tgjsnr9mrmvr071rb9dkol07ju1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBcs-DRwmu4UCpwQAVb4qtPsYY8HpochEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1009649273389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.refiereloMarketplace</string>
	<key>PROJECT_ID</key>
	<string>refierelo-a449c</string>
	<key>STORAGE_BUCKET</key>
	<string>refierelo-a449c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009649273389:ios:3aa653d5100f3911ed86a4</string>
</dict>
</plist>